#history_header {
  font-weight: bold;
  color: #ffffff;
}

.about > div > div > img{
  padding-top: 1.25em;
  height: 12.5em;
  width: 12.5em;
}

#aboutsection{
  padding-top: 15rem;
  padding-bottom: 10rem;
  height: 1000px;
}

.about{
  text-align: center;
  margin: auto;

}

.why, .who, .where{
  padding: 0 3rem;
}
